body {
    background: rgb(235, 234, 234);
    font-family: "Quicksand";
    font-weight: 300;

}

.title {
    font-size: 90px;
    font-weight: 50;
    color: rgba(170, 170, 170, 0.342);
    user-select: none;
}

.todo-list {
    padding-right: 0;
    background: #fff;
    box-shadow:
        1px 1px 10px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
}
.form-control:focus{
    box-shadow: none;
}

.list-item {
    height: 50px;
    padding-top: 12px;
    overflow: hidden;
    font-weight: 400;
}

.input-field {
    border: none;
    padding: 0;
    width: 90%;
    height: 40px;
    font-weight: 400;

}

.input-field:focus {
    outline: none;
}

.delete-marker {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    left: 94%;
    top: 24%;
    justify-items: center;
    visibility: visible;
    color: lightgray;
    user-select: none;
}

.delete-marker:hover {
    color: red;
    cursor: default;
}

.task-counter {
    color: rgb(138, 138, 138);
    font-weight: 100;
}